:root {
  --ff-primary: "DM Sans";

  --fs-heading-h1: 4rem;
  --fs-heading-h2: 3rem;

  --fs-content: 1.6rem;
  --fs-content-sm: 1.2rem;
  --title: {
  }
  /*@apply var(--title); ça devrait marcher, normalement */
}

@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/dm-sans-variable.woff2") format("woff2-variations"),
    url("/assets/fonts/dm-sans-variable.woff") format("woff-variations");
}
